.board-container {
  display: flex;
  justify-content: space-between;
}

.p1-board, .p2-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
}

.p1-board > div, .p2-board > div {
  width: 50px;
  height: 50px;
  /* background-color: e; */
  outline: solid black 1px;
}